n8n/backup/workflows/Logfile_Scanner.json
{
  "name": "Logfile-Scanner",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        40
      ],
      "id": "d79adf58-a819-49db-938e-5f9aad69f380",
      "name": "When Executed by Manager"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        40
      ],
      "id": "8b9626ae-b5a1-4f87-ab6f-a0dc1759798e",
      "name": "Extract from Logfile"
    },
    {
      "parameters": {
        "fileSelector": "/data/logs/test.log",
        "options": {
          "fileName": "logfile.log",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        40,
        40
      ],
      "id": "620ef74f-2173-427b-bec5-1fb631cc47ba",
      "name": "Read Logfile",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task is analyze logfiles to identify bugs and stacktraces.{{ $json.data }}",
        "options": {
          "systemMessage": "Here is the logfile you have to analyze:\n{{ $json.data }} \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        460,
        40
      ],
      "id": "cd3ff2ec-8249-429f-a976-470f8adcf24c",
      "name": "Log-File-Scanner-Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        420,
        240
      ],
      "id": "0a9f7575-ad51-4aec-986f-f6c9e488d531",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1234"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        240
      ],
      "id": "61620857-a375-4d66-b16f-88a3502679d5",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Manager": {
      "main": [
        [
          {
            "node": "Read Logfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Logfile": {
      "main": [
        [
          {
            "node": "Log-File-Scanner-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Logfile": {
      "main": [
        [
          {
            "node": "Extract from Logfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log-File-Scanner-Agent": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Log-File-Scanner-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Log-File-Scanner-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76379ec4-663a-4f20-aeaa-b2b11e4edb87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "lhy5QVdBC5llXOjA",
  "tags": []
}