n8n/backup/workflows/Manager_Agent.json
{
  "name": "Manager-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Manager in software development project. Your responsibility is to interpret user requests and determine which specialized tools should be activated to fulfill them.\nAnalyze the user's input and break down the query into individual subtasks. Based on the subtasks, consider which tools you need to call up to process the tasks.\n\nAvailable tools:\n1. **Scan Logfile**: Analyzes log files or error messages. It detects known vs. unknown error patterns and creates structured, Markdown-formatted bug reports. ALways use this tool if the user input contains requests regarding bugs.\n2. **Action in Jira**: Manages Jira tickets. It can create, update, assign, or retrieve Jira issues based on structured inputs or user instructions.\n3. **Create User Story**: Is a helpful assistant that creates tze content of user stories\n\n\n\nYou have access to:\n- The latest user message\n- Optionally, prior conversation history to improve intent understanding\n\nYour responsibilities:\n- Identify the user's **intent** (e.g., log analysis, ticket creation, status lookup, bugreport, lofilfe analysis)\n- Decide **which agent(s)** to activate\n- Determine the **execution order**, if multiple agents are needed\nAnalyze the following user request:\n{{ $json.body.chatInput }}\n-Return relevant partial results in the response for the user\n\n",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        40
      ],
      "id": "a06f7e88-46e2-4837-b2a5-0ddc983b470d",
      "name": "Manager-Agent"
    },
    {
      "parameters": {
        "description": "Call this tool to interact with Jira. Use it to create, search, update, or transition issues based on the current task or analysis results. Provide all necessary fields like project key, issue type, summary, and status as needed.",
        "workflowId": {
          "__rl": true,
          "value": "MnMojNhrudT0ZONb",
          "mode": "list",
          "cachedResultName": "Jira-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1080,
        260
      ],
      "id": "f16e4ebe-9530-4b42-bf3d-9390694a33f8",
      "name": "Action in Jira"
    },
    {
      "parameters": {
        "content": "## 1. Receiving the user's chat input from Open WebUI",
        "height": 260,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        -80
      ],
      "typeVersion": 1,
      "id": "2abfd2ea-1258-4aa2-a919-d07898ef97e8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        960,
        40
      ],
      "id": "370e6bc5-b3df-4c62-afe5-b05bdc472c24",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## 3. Sending Response to Open WebUI",
        "height": 260,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -80
      ],
      "typeVersion": 1,
      "id": "84d231bb-935a-442a-9844-5088d2a667a5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-agents",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        40
      ],
      "id": "a7b7805d-022b-4f71-a019-c238684444a7",
      "name": "Receive input via Webhook",
      "webhookId": "9066e90b-78e9-4efb-b5c1-d5fd3778b1d7"
    },
    {
      "parameters": {
        "description": "Call this tool to create the content of a user story.",
        "workflowId": {
          "__rl": true,
          "value": "5g3wIBt23oVl7EOC",
          "mode": "list",
          "cachedResultName": "User-Story-Creator-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        260
      ],
      "id": "34dd0b42-0df1-4cdb-8394-ec4631d74a16",
      "name": "Create User Story"
    },
    {
      "parameters": {
        "content": "## 2. Acts as a manager and coordinates agents",
        "height": 260,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        -80
      ],
      "typeVersion": 1,
      "id": "339adea0-d449-46be-99e8-0509337c54df",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "description": "Call this tool to analyze log files and generate a structured bug report. Identify relevant error patterns, classify the issue type and severity, and provide a clear summary with context and reproduction steps. Use this when new system anomalies or failures are have to be detected.",
        "workflowId": {
          "__rl": true,
          "value": "lhy5QVdBC5llXOjA",
          "mode": "list",
          "cachedResultName": "Logfile-Scanner"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        260
      ],
      "id": "357788c8-5466-40ed-a233-3b0bfa5a30e4",
      "name": "Scan Logfile"
    },
    {
      "parameters": {
        "description": "Call this tool to generate detailed and structured bugreports.",
        "workflowId": {
          "__rl": true,
          "value": "SgmPFKoRyQXLAOLu",
          "mode": "list",
          "cachedResultName": "Bugreport-Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        260
      ],
      "id": "a2ac3629-c54c-4feb-958d-afcee7036a4b",
      "name": "Bugreport Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1234"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        260
      ],
      "id": "fc15dacb-7b56-48ba-babb-345366b65f94",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        460,
        260
      ],
      "id": "7fdcadae-f9a9-40ff-91a9-6939117856db",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Action in Jira": {
      "ai_tool": [
        [
          {
            "node": "Manager-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manager-Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive input via Webhook": {
      "main": [
        [
          {
            "node": "Manager-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User Story": {
      "ai_tool": [
        [
          {
            "node": "Manager-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scan Logfile": {
      "ai_tool": [
        [
          {
            "node": "Manager-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bugreport Agent": {
      "ai_tool": [
        [
          {
            "node": "Manager-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Manager-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Manager-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6495caa3-2839-4396-94bb-70ab25a8f44a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "Wjsuol1f22g2dN26",
  "tags": []
}