n8n/backup/workflows/User_Story_Agent.json
{
  "name": "User Story Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        160
      ],
      "id": "e0517395-cb82-4d0a-9ebc-9be7a50d1b01",
      "name": "When Executed by Manager"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You take on the role of the Business Analyst in our agile development team. Your primary responsibility is to craft well-structured, clear, and verifiable user stories for upcoming product increments.\nInstructions:\nFormat\n\nUse the user request to understand the content of the user story: {{ $json.query }}\nAlways use the standard template:\nAs a <role> I want <feature/function> so that <benefit>\nQuality Criteria (INVEST)\nIndependent (each story stands alone)\nNegotiable (open to discussion)\nValuable (delivers clear value)\nEstimable (can be sized)\nSmall (fits within a single sprint)\nTestable (has clear acceptance criteria)\nAcceptance Criteria\nProvide 3–5 precise criteria per story, phrased as:\nGiven…, When…, Then…\nAdditional Notes\nDefine any domain-specific terms so developers and testers fully understand them.\nBreak down large themes (epics) into smaller, sprint-sized stories.\nExamples:\nExample 1\nUser Story\nAs a registered user I want to log in with my email and password so that I can access my personal dashboard.\nAcceptance Criteria\nGiven a registered user is on the login page; When they enter a valid email and password; Then they are redirected to their dashboard.\nGiven a user enters an incorrect password; When they click “Log In”; Then they see the error message “Invalid credentials.”\nGiven a user has forgotten their password; When they click “Forgot Password”; Then they receive an email with a password-reset link.\nExample 2\nUser Story\nAs a product manager I want to generate a monthly user-engagement report so that I can spot trends early and take action.\nAcceptance Criteria\nGiven the product manager is in the reporting module; When they select “Last Month” and click “Generate Report”; Then a PDF with KPIs (DAU, MAU, session duration) is produced.\nGiven the report is ready; When the product manager clicks “Download”; Then the PDF downloads locally.\nGiven there is no data for the selected period; When the report is generated; Then the message “No data for the selected period” appears.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        40,
        160
      ],
      "id": "b790f616-3d03-4227-b463-a1dd0dcf7740",
      "name": "User-Story-Creator-Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        20,
        380
      ],
      "id": "85c9f4d0-aade-46b6-a81f-c15728183b66",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1234"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        140,
        380
      ],
      "id": "25604f1f-4245-4341-a4d6-a30d8e89432d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Manager": {
      "main": [
        [
          {
            "node": "User-Story-Creator-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User-Story-Creator-Agent": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "User-Story-Creator-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "User-Story-Creator-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02b23d03-cf05-445c-b17b-ca4a4f9bdaac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "5g3wIBt23oVl7EOC",
  "tags": []
}